<!-- 
    bottom_nav.ejs
    Name: Carla Barazarte 
    StudentID: 301295205
    Date: 02/07/2023 
-->

<footer class="text-center text-lg-start bg-dark text-white text-muted">
  <!-- Copyright and email message-->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    &copy;2023 All rights reserved
    <br>Mail to <a href="mailto:cbarazar@my.centennialcollege.ca">Carla Barazarte</a>.<br>
  </div>
</footer>