<!-- 
    footer.ejs
    Name: Carla Barazarte 
    StudentID: 301295205
    Date: 02/07/2023 
-->

<!--Script Section-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
<script src="/Scripts/contact.js"></script>

</body>
</html>


