<footer class="text-center text-lg-start bg-dark text-white text-muted">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Mail to <a href="mailto:cbarazar@my.centennialcollege.ca">Carla Barazarte</a>.<br>
  </div>
  <!-- Copyright -->
</footer>