<%- include('../partials/head') %>
<%- include('../partials/header') %>
    <div>
        <div class="text-center mb-4">
            <img class="mb-4" src="/Assets/images/CarlaImage.jpg" width="200px" height="200px">
            <h3 class="text-center">Carla Barazarte</h3>
        </div>
        <div>
            <p>
                <%= about.description %>
            </p>
            <p>
                You can download my resume in the following <a href="/Assets/files/resume.pdf" download="resume_Carla_Barazarte">link</a>
            </p>
        </div>
    </div>
<%- include('../partials/footer') %>