/*
    app.css
    Name: Carla Barazarte 
    StudentID: 301295205
    Date: 02/23/2023 
*/
/*Custom css goes here*/
.black .active a,
.black .active a:hover {
    background-color: black;
}

.nav-pills > li > a.active {
    background-color: black !important;
}

.container {
    padding-top: 20px;
  }