<!-- 
    contact.ejs
    Name: Carla Barazarte 
    StudentID: 301295205
    Date: 02/07/2023 
-->
<!-- Contact Form Section-->
<%- include('../partials/header') %>
<%- include('../partials/main_nav') %>
<div class="container" >

    <h2 class="text-center mb-4">Contact me</h2>
    <form id="contact-form" class="mb-4">
        <div class="row">
            <div class="col">
                <label>First Name</label>
                <input id="firstName" type="text" class="form-control">
            </div>
            <div class="col">
                <label>Last Name</label>
                <input id="lastName" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Contact Number</label>
                <input id="contactNumber" type="text" class="form-control">
            </div>
            <div class="col">
                <label>Email Address</label>
                <input id="emailAddress" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Message</label>
                <textarea id="message" type="text" class="form-control"></textarea>
            </div>
        </div>
        <div class="mt-4 text-center">
            <input type="submit" class="btn btn-primary"></input>
        </div>
        

    </form>

    <div>
        <ul class="list-unstyled"> 
            <li>
                <i class="fa-sharp fa-solid fa-address-book"></i>
                Carla Barazarte
            </li>
            <li>
                <i class="fa-solid fa-phone"></i>
                (416)-8189430
            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>
                cbarazar@my.centennialcollege.ca
            </li>
        </ul>
    </div>
    
</div>

<!--Section: Contact v.2-->
<%- include('../partials/bottom_nav') %>
<%- include('../partials/footer') %>